In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
dataset = pd.read_csv("diabetes.csv")

In [19]:
#getting 5 rows of the dataset
dataset.head()

,0,1,2,3,4,5,6,7,8
0,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0

In [20]:
#getting the total number of rows and collumn of the dataset
dataset.shape

(769, 9)

In [21]:
#getting statstical view of dataset
dataset.describe()

          0    1    2    3    4    5      6    7    8
count   769  769  769  769  769  769    769  769  769
unique   18  137   48   52  187  249    518   53    3
top       1  100   70    0    0   32  0.254   22    0
freq    135   17   57  227  374   13      6   72  500

In [23]:
# seperating data and labels
x = dataset.drop(columns = "Outcome", axis = 1)
y = dataset['Outcome']

In [ ]:
print(x)

In [ ]:
print(y)

In [ ]:
#standarlizing the data
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform(x)

In [86]:
from sklearn.model_selection import train_test_split
train_x, test_x , train_y, test_y = train_test_split(x,y,test_size = 0.2, random_state = 2)

In [ ]:
print(train_x)

In [87]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear')
classifier.fit(train_x,train_y)

SVC(kernel='linear')

In [ ]:
print(y_pred)

In [88]:
y_pred = classifier.predict(test_x)

In [89]:
from sklearn.metrics import  accuracy_score
print(accuracy_score(test_y, y_pred))

0.7532467532467533

In [101]:
x_pred = classifier.predict(test_x)

In [ ]:
print(accuracy_score(test_x, x_pred))

In [ ]:
input_data = (4,111,72,47,207,37.1,1.39,56)
input_data = np.asarray(input_data)
input_reshaped = input_data.reshape(1,-1)
print('reshaped',input_reshaped)
std_data = sc.transform(input_reshaped)
print('standralized',std_data)
prediction = classifier.predict(std_data)
print('prediction',prediction)
if(prediction[0]==0):
  print("person does not have dibetes")
else:
  print("person have dibetes")